<section id="blog" class="blog section">
  <center><h1 class="title gray-divider">Blog</h1></center>
  <div class="slick">
    <div class="prev"></div>
    <div class="next"></div>
    <div class="multiple-items">
      <a href="#" class="blog-card">
        <div class="blog-mask"></div>
        <img src="/assets/images/blog-1.jpg" alt="">
        <div class="blog-content-normal">
          <span>Category</span>
          <h3>Lorem ipsum dolor sit amet, consectetuer</h3>
        </div>
        <div class="blog-content-hover">
          <h3>Lorem ipsum dolor sit amet, consectetuer</h3>
          <span>Category</span>
          <button type="submit" class="btn btn-custom">Read more</button>
        </div>
      </a>
      <a href="#" class="blog-card">
        <div class="blog-mask"></div>
        <img src="/assets/images/blog-2.jpg" alt="">
        <div class="blog-content-normal">
          <span>Category</span>
          <h3>Lorem ipsum dolor sit amet, consectetuer</h3>
        </div>
        <div class="blog-content-hover">
          <h3>Lorem ipsum dolor sit amet, consectetuer</h3>
          <span>Category</span>
          <button type="submit" class="btn btn-custom">Read more</button>
        </div>
      </a>
      <a href="#" class="blog-card">
        <div class="blog-mask"></div>
        <img src="/assets/images/blog-3.jpg" alt="">
        <div class="blog-content-normal">
          <span>Category</span>
          <h3>Lorem ipsum dolor sit amet, consectetuer</h3>
        </div>
        <div class="blog-content-hover">
          <h3>Lorem ipsum dolor sit amet, consectetuer</h3>
          <span>Category</span>
          <button type="submit" class="btn btn-custom">Read more</button>
        </div>
      </a>
      <a href="#" class="blog-card">
        <div class="blog-mask"></div>
        <img src="/assets/images/blog-4.jpg" alt="">
        <div class="blog-content-normal">
          <span>Category</span>
          <h3>Lorem ipsum dolor sit amet, consectetuer</h3>
        </div>
        <div class="blog-content-hover">
          <h3>Lorem ipsum dolor sit amet, consectetuer</h3>
          <span>Category</span>
          <button type="submit" class="btn btn-custom">Read more</button>
        </div>
      </a>
      <a href="#" class="blog-card">
        <div class="blog-mask"></div>
        <img src="/assets/images/blog-1.jpg" alt="">
        <div class="blog-content-normal">
          <span>Category</span>
          <h3>Lorem ipsum dolor sit amet, consectetuer</h3>
        </div>
        <div class="blog-content-hover">
          <h3>Lorem ipsum dolor sit amet, consectetuer</h3>
          <span>Category</span>
          <button type="submit" class="btn btn-custom">Read more</button>
        </div>
      </a>
    </div>
  </div>
</section>