<section id="contact" class="contact section">
  <h1 class="title gray-divider">Contact us</h1>
  <div class="container">
    <form class="validate"
          name="contact-form"
          method="post"
          data-netlify="true"
          netlify-honeypot="bot-field">
      <div class="row">
        <div class="col-lg-4">
          <div class="form-group custom-form-box">
            <label for="contact-name">Name</label>
            <input type="text" class="form-control" id="contact-name" name="contact-name" required>
          </div>
          <div class="form-group custom-form-box">
            <label for="contact-email">Email</label>
            <input type="email" class="form-control" id="contact-email" name="contact-email"
                   title="The domain portion of the email address is invalid (the portion after the @)."
                   pattern="^([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22))*\x40([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d))*(\.\w{2,})+$" required>
          </div>
          <div class="form-group custom-form-box">
          </div>
          <button type="submit" class="suscribe btn btn-custom-red float-right d-none d-lg-block" name="form-subscribe">Send</button>
        </div>
        <div class="col-lg-8">
          <div class="form-group custom-form-box">
            <label for="contact-message">Message</label>
            <textarea class="form-control" id="contact-message" name="contact-message" required></textarea>
          </div>
          <div class="responses clear">
            <div class="response mc-status"></div>
          </div>
        </div>
        <div class="col-lg-12 d-block d-lg-none">
          <div hidden aria-hidden="true">
            <input type="hidden" name="bot-field" />
          </div>
        </div>
      </div>
    </form>
  </div>
</section>