<section id="contact" class="contact section">
  <center><h1 class="title gray-divider">Contact us</h1></center>
  <div id="mc_embed_signup" class="container">
    <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
    <form action="https://huntingbears.us12.list-manage.com/subscribe/post?u=9ff78d57d8046b4bed4a4fa73&amp;id=d34a79f498" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div class="row">
        <div class="col-lg-4">
          <div class="form-group custom-form-box">
            <label for="mce-NAME">Name</label>
            <input value="" name="NAME" type="text" class="form-control" id="mce-NAME">
          </div>
          <div class="form-group custom-form-box">
            <label for="mce-EMAIL">Email</label>
            <input value="" name="EMAIL" type="email" class="form-control" id="mce-EMAIL">
          </div>
          <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-custom-red float-right d-none d-lg-block">Send</button>
        </div>
        <div class="col-lg-8">
          <div class="form-group custom-form-box">
            <label for="mce-MESSAGE">Message</label>
            <textarea value="" name="MESSAGE" class="form-control" id="mce-MESSAGE"></textarea>
          </div>
        </div>
        <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
        </div>
        <div class="col-lg-12 d-block d-lg-none">
          <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-custom-red float-right">Send</button>
        </div>
      </div>
    </form>
    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
    <script type='text/javascript'>
      (function($){
        window.fnames = new Array();
        window.ftypes = new Array();
        fnames[1] = 'NAME';
        ftypes[1] = 'text';
        fnames[0] = 'EMAIL';
        ftypes[0] = 'email';
        fnames[2] = 'MESSAGE';
        ftypes[2]='text';
      }(jQuery));
      var $mcj = jQuery.noConflict(true);
    </script>
  </div>
</section>