<footer class="footer">
  <div class="footer-mask">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="footer-text">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoqueus ut, imperdiet a, venenatis vitae, justo.</p>
            <div class="footer-schedule">
              <span>Lorem ipsum dolor</span>
              <p>Monday to Saturday
                  8:00 - 18:00</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="footer-contact">
            <ul>
              <li><svg><use xlink:href="#icophone"></use></svg><a href="tel:555555555555">+55 555 555 5555</a></li>
              <li><svg><use xlink:href="#icoemail"></use></svg><a href="mailto:hello@collagelabs-com">hello@collagelabs.com</a></li>
              <li>
                <a href="#"><svg><use xlink:href="#instagram"></use></svg></a>
                <a href="#"><svg><use xlink:href="#facebook"></use></svg></a>
                <a href="#"><svg><use xlink:href="#twitter"></use></svg></a>
                @collagelabs</li>
              <li class="d-block d-lg-none"><a href="https://wa.me/555555555555?text=¡Hi%20Collage%20Labs!"><svg><use xlink:href="#whatsapp"></use></svg>+55 555 555 5555</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 d-none d-lg-block">
          <!-- SnapWidget -->
          <script src="https://snapwidget.com/js/snapwidget.js"></script>
          <iframe src="https://snapwidget.com/embed/745621" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden;  width:100%; "></iframe>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="credits text-center">
  <span>Developed by <a href="https://paolavrgs.github.io/cv_paolavrgs/" target="blank">@paolavrgs</a></span>
  <span> | Designed by <a href="https://siendocristina.com/" target="blank">Cristina Reyes</a></span>
</div>