<footer class="footer">
  <div class="footer-mask">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="footer-text">
            <p>
              Collage Labs is a software development company based in Venezuela. We are a team of professionals dedicated to the projects of our customers. We want to be the best in what we do and to work with both the best clients and developers.
            </p>
            <div class="footer-schedule">
              <span>Collage Labs CA</span>
              <p>Maracay, Venezuela</p>
              <p>Open Monday to Friday from 7:00 to 17:00</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="footer-contact">
            <ul>
              <li><svg><use xlink:href="#icophone"></use></svg><a href="tel:+584120333096">+58 412 033 3096</a></li>
              <li><svg><use xlink:href="#icoemail"></use></svg><a href="mailto:contact@collagelabs.org">contact@collagelabs.org</a></li>
              <li>
                <a href="https://instagram.com/collagelabsco"><svg><use xlink:href="#instagram"></use></svg></a>
                <a href="https://twitter.com/CollageLabs"><svg><use xlink:href="#twitter"></use></svg></a>
                <a href="https://facebook.com/CollageLabs"><svg><use xlink:href="#facebook"></use></svg></a>
                @CollageLabs
              </li>
              <li class="d-block d-lg-none">
                <a href="https://wa.me/584120333096?text=Hello%20Collage%20Labs!"><svg><use xlink:href="#whatsapp"></use></svg>+58 412 033 3096</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 d-none d-lg-block">
          <!-- SnapWidget -->
          <script async src="https://snapwidget.com/js/snapwidget.js"></script>
          <iframe src="https://snapwidget.com/embed/780265"
                  class="snapwidget-widget"
                  allowtransparency="true" frameborder="0" scrolling="no"
                  style="border:none;overflow:hidden;width:100%;">
          </iframe>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="credits text-center">
  <span>Ideas by <a href="https://twitter.com/LuisAlejandro" target="blank">Luis Alejandro</a></span>
  <span> &#9679; </span>
  <span>Designed by <a href="https://siendocristina.com/" target="blank">Cristina Reyes</a></span>
  <span> &#9679; </span>
  <span>Coded by <a href="https://paolavrgs.github.io/cv_paolavrgs/" target="blank">Paola Vargas</a></span>
</div>