<nav id="collage-labs-nav" class="navbar navbar-expand-lg navbar-light sticky-top">
  <div class="container">
    <a class="navbar-brand" href="{{ site.url }}">
      <svg class="logo">
        <use xlink:href="#brand"></use>
      </svg>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topicsbar"
      aria-controls="topicsbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="topicsbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/" data-target="#home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#services" data-target="#services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#open-source" data-target="#open-source">Open Source</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="/blog" data-target="#blog">Blog</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="#contact" data-target="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<section id="home" class="banner-home" style="background-image: url('/assets/images/bg-frontpage.jpg')">
  <div class="banner-content">
    <h1><span>We are prepared</span> to take your project to the <span>next level</span></h1>
    <p>Allow us to mix our skills on
      <span class="badge badge-light-yellow">Web apps</span>,
      <span class="badge badge-light-yellow">Mobile</span>,
      <span class="badge badge-light-yellow">ERP</span> and
      <span class="badge badge-light-yellow">IT</span> with your ideas. Let's build the future together!
    </p>
    <a class="btn btn-custom-red" href="#services">Learn more</a>
  </div>
</section>