<nav id="collage-labs-nav" class="navbar navbar-expand-lg">
  <div class="container px-0">
    <a class="navbar-brand" href="{{ site.url }}">
      <svg class="logo">
        <use xlink:href="#logo-white"></use>
      </svg>
    </a>
    <button class="navbar-toggler" type="button"
            data-toggle="collapse" data-target="#topicsbar"
            aria-controls="topicsbar" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="topicsbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/" data-target="#home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#services" data-target="#services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#work" data-target="#work">Work</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#blog" data-target="#blog">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact" data-target="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<section id="home" class="banner-home">
  <canvas class="banner-bg"></canvas>
  <div class="container">
    <svg class="banner-image">
      <use xlink:href="#rocket"></use>
    </svg>
    <div class="banner-content">
      <svg class="banner-left-arrow">
        <use xlink:href="#left-arrow"></use>
      </svg>
      <h1>
        <span>This could be</span>
        <span>your idea</span>
      </h1>
      <div class="d-block my-3 w-100"></div>
      <p>
        We build efficient web & mobile solutions for your business.
      </p>
    </div>
  </div>
</section>
<div class="separator-clouds">
  <svg class="separator-clouds-1">
    <use xlink:href="#clouds"></use>
  </svg>
</div>