<section id="open-source" class="open-source section">
  <center><h1 class="title color-white white-divider">Open source</h1></center>
  <div class="container">
    <div class="open-source-grid-container">
      <div class="open-source-card">
        <div class="open-source-card-top">
          <svg><use xlink:href="#Dockershelf"></use></svg>
          <h3>Dockershelf</h3>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. </p>
        <a href="#" class="link text-right">Learn more</a>
      </div>
      <div class="open-source-card">
        <div class="open-source-card-top">
          <svg><use xlink:href="#PyPIContents"></use></svg>
          <h3>PyPIContents</h3>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. </p>
        <a href="#" class="link text-right">Learn more</a>
      </div>
      <div class="open-source-card">
        <div class="open-source-card-top">
          <svg><use xlink:href="#PipSalaBim"></use></svg>
          <h3>Pip Sala Bim</h3>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. </p>
        <a href="#" class="link text-right">Learn more</a>
      </div>
      <div class="open-source-card">
        <div class="open-source-card-top">
          <svg><use xlink:href="#CanaimaKueka"></use></svg>
          <h3>Canaima Kueka</h3>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. </p>
        <a href="#" class="link text-right">Learn more</a>
      </div>
    </div>
  </div>
</section>