<section id="open-source" class="open-source section">
  <center><h1 class="title color-white white-divider">Open source</h1></center>
  <div class="container">
    <div class="open-source-grid-container">
      <div class="open-source-card">
        <div class="open-source-card-top">
          <svg><use xlink:href="#dockershelf"></use></svg>
          <h3>Dockershelf</h3>
        </div>
        <p>
          Dockershelf is a repository that serves as a collector for docker recipes that are universal, efficient and slim. We keep adding "shelves", which are holders for the different versions of a popular language or application.
        </p>
        <p>
          All shelves are currently based off Debian Sid, the development version of Debian. Images are updated, tested and published daily via a Travis cron job.
        </p>
        <a href="https://github.com/Dockershelf/dockershelf/blob/develop/README.md" target="blank" class="link text-right">Learn more</a>
      </div>
      <div class="open-source-card">
        <div class="open-source-card-top">
          <svg><use xlink:href="#pipsalabim"></use></svg>
          <h3>Pip Sala Bim</h3>
        </div>
        <p>Pip Sala Bim is an assistant to guess your pip dependencies from your code, without using a requirements file.</p>
        <p>Pip Sala Bim studies the codebase of your project in search for internal and external imports. It then discards the imports that are satisfied with internal code or with the standard library and finally searches the PyPIContents index to list which packages satisfy your imports.</p>
        <a href="https://pipsalabim.readthedocs.org/" target="blank" class="link text-right">Learn more</a>
      </div>
      <div class="open-source-card">
        <div class="open-source-card-top">
          <svg><use xlink:href="#pypicontents"></use></svg>
          <h3>PyPIContents</h3>
        </div>
        <p>PyPIContents is an application that generates a Module Index from the <strong>Python Package Index</strong> (PyPI) and also from various versions of the Python Standard Library.</p>
        <p>PyPIContents generates a configurable index written in JSON format that serves as a database for applications like pipsalabim. It can be configured to process only a range of packages and to have memory, time or log size limits.</p>
        <a href="https://pypicontents.readthedocs.org/" target="blank" class="link text-right">Learn more</a>
      </div>
      <div class="open-source-card">
        <div class="open-source-card-top">
          <svg><use xlink:href="#candyshop"></use></svg>
          <h3>Candyshop</h3>
        </div>
        <p>Candyshop is a package that serves as a processor of the information contained in Odoo Modules. It’s primarily aimed at making reports of missing dependencies in an Odoo Environment.</p>
        <p>It has abstractions that represent Odoo Modules and virtual Odoo Enviroments, as well as functions to resolve dependency trees.</p>
        <a href="https://candyshop.readthedocs.org/" target="blank" class="link text-right">Learn more</a>
      </div>
    </div>
  </div>
</section>