<section id="services" class="services section">
  <center><h1 class="title gray-divider">Our Services</h1></center>
  <div class="service-grid-container">
    <div class="service-grid-item service-grid-right">
      <img src="/assets/images/service-1.jpg" alt="Lorem ipsum dolor">
    </div>
    <div class="service-grid-item service-grid-left">
      <div class="service-content">
        <span>Lorem ipsum dolor</span>
        <h2>Aenean commodo ligula eget
            dolor lorem ipsum dolor</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
        <a href="#" class="link-arrow right">Learn more</a>
      </div>
    </div>
  </div>
  <div class="service-grid-container">
    <div class="service-grid-item service-grid-left">
      <img src="/assets/images/service-2.jpg" alt="Lorem ipsum dolor">
    </div>
    <div class="service-grid-item service-grid-right">
      <div class="service-content">
        <span>Lorem ipsum dolor</span>
        <h2>Aenean commodo ligula eget
            dolor lorem ipsum dolor</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
        <a href="#" class="link-arrow left">Learn more</a>
      </div>
    </div>
  </div>
</section>