<section id="services" class="services section">
  <center><h1 class="title gray-divider">Our Services</h1></center>
  <div class="service-grid-container">
    <div class="service-grid-item service-grid-right">
      <img src="/assets/images/service-1.jpg" alt="Web Applications Development">
    </div>
    <div class="service-grid-item service-grid-left">
      <div class="service-content">
        <span>Responsive, Fast, Scalable & Secure</span>
        <h2>Web Applications Development</h2>
        <p>We build <strong>powerful</strong> and <strong>scalable</strong> web apps that are custom made <br> using <strong>agile</strong> development processes leveraging the latest <strong>web technologies</strong>.</p>
        <p>Web Applications have evolved to a point where they provide levels of <strong>interactivity</strong> and <strong>usability</strong> that rival native applications. We leverage these latest technological advances with <strong>thoughtful design</strong> and <strong>serious engineering</strong> to build <strong>tailored solutions</strong> for any industry.</p>
        <!-- <a href="#" class="link-arrow right">Learn more</a> -->
      </div>
    </div>
  </div>
  <div class="service-grid-container">
    <div class="service-grid-item service-grid-left">
      <img src="/assets/images/service-2.jpg" alt="Mobile Apps Development">
    </div>
    <div class="service-grid-item service-grid-right">
      <div class="service-content">
        <span>Fast, Accurate, Intuitive & Secure</span>
        <h2>Mobile Apps Development</h2>
        <p>Designing and Developing iOS &amp; Android apps that are <br><strong>custom built</strong> for your product's requirements.</p>
        <p>In just a decade, mobile applications have spawned entire industries based on the amazing new possibilities they create for businesses and products to enhance their offerings and develop brand news ones not previously possible.</p>
        <!-- <a href="#" class="link-arrow left">Learn more</a> -->
      </div>
    </div>
  </div>
</section>