// .ad_header,
// .ad_sidebar,
// .ad_links,
// .ad_post,
// .ad_frontpage {
//     float: left;
//     width: 100%;
//     padding: 0;
//     margin: 0;
// }

// .ad_post {
//     float: right;
//     width: 50%;
//     margin: 30px 1%;
// }

// .ad_frontpage {
//     margin: 5px 0 30px 0;
// }

// #sidebar > .ad_sidebar {
//     width: 80%;
//     margin: 10px 20% 10px 0;
// }

// .ad_header > .adsbygoogle,
// .ad_sidebar > .adsbygoogle,
// .ad_links > .adsbygoogle,
// .ad_post > .adsbygoogle,
// .ad_frontpage > .adsbygoogle {
//     float: none;
//     display: block;
//     vertical-align: top;
//     padding: 0;
//     margin: 0 auto;
//     overflow: hidden;
// }

// .ad_links > .adsbygoogle {
//     width: 468px !important;
//     height: 15px !important;
// }

// .ad_header > .adsbygoogle > ins,
// .ad_header > .adsbygoogle > ins > ins,
// .ad_sidebar > .adsbygoogle > ins,
// .ad_sidebar > .adsbygoogle > ins > ins,
// .ad_links > .adsbygoogle > ins,
// .ad_links > .adsbygoogle > ins > ins,
// .ad_post > .adsbygoogle > ins,
// .ad_post > .adsbygoogle > ins > ins,
// .ad_frontpage > .adsbygoogle > ins,
// .ad_frontpage > .adsbygoogle > ins > ins {
//     float: none !important;
//     display: block !important;
//     width: 100% !important;
// }

// .ad_header > .adsbygoogle > ins > ins > iframe,
// .ad_sidebar > .adsbygoogle > ins > ins > iframe,
// .ad_links > .adsbygoogle > ins > ins > iframe,
// .ad_post > .adsbygoogle > ins > ins > iframe,
// .ad_frontpage > .adsbygoogle > ins > ins > iframe {
//     float: none !important;
//     display: block !important;
//     margin: 0 auto !important;
//     position: relative !important;
// }
