@font-face {
    font-family: 'Open Sans';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url('../_fonts/OpenSans-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 200;
    font-style: normal;
    font-display: swap;
    src: url('../_fonts/Montserrat-ExtraLight.woff2') format('woff2');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url('../_fonts/Montserrat-SemiBold.woff2') format('woff2');
}