@font-face {
    font-family: 'Sofia Pro';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url('../_fonts/SofiaPro-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'Sofia Pro';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('../_fonts/SofiaPro-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Sofia Pro';
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url('../_fonts/SofiaPro-Black.woff2') format('woff2');
}

@font-face {
    font-family: 'The Heart Chakra';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('../_fonts/TheHeartChakra-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Adobe Garamond Pro';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url('../_fonts/AdobeGaramondPro-Regular.woff2') format('woff2');
}

// @font-face {
//     font-family: 'Montserrat';
//     font-weight: 200;
//     font-style: normal;
//     font-display: swap;
//     src: url('../_fonts/Montserrat-ExtraLight.woff2') format('woff2');
// }

// @font-face {
//     font-family: 'Montserrat';
//     font-weight: 600;
//     font-style: normal;
//     font-display: swap;
//     src: url('../_fonts/Montserrat-SemiBold.woff2') format('woff2');
// }

// # Sofia Pro Heavy
// # Adobe Garamond Pro Regular
// # Sofia Pro SemiBold
// # Playfair Display Black