.contact {
  padding-bottom: 100px;

  .container {
    .responses {
      margin: 0 !important;
  
      @include respond-to(xs) {
        text-align: center !important;
        width: 100% !important;
        margin: 10px !important;
      }
    }
  
    .response {
      margin: 0;
      padding: 0;
      @include respond-to(xs) {
        width: 100% !important;
      }
    }
  
    .success-message {
      color: green;
      font-style: italic;
      margin-bottom: 1em;
    }
    
    .error-message {
      color: red;
      font-style: italic;
      margin-bottom: 1em;
    }
  }
}

.custom-form-box {
  position: relative;
  margin-bottom: 20px;

  label {
    position: absolute;
    top: -15px;
    background-color: white;
    left: 20px;
    font-weight: 600;
    font-family: $mont;
    color: $primary;
    padding: 0 4px;
  }

  input {
    padding: 10px 20px;
    height: unset;
    border: 2px solid #d8d7d2 !important;

    &:focus, &:active {
      box-shadow: none;
      border-color: $secondary !important;
    }
  }

  textarea {
    resize: none;
    height: 220px;
    border: 2px solid #d8d7d2;
    &:focus, &:active {
      box-shadow: none;
      border-color: $secondary;
    }
  }
}

#re-captcha {
  padding-left: 45px;
}