.contact {
  padding-bottom: 100px;

  .container {
    .responses {
      margin: 0 !important;

      @include respond-to(xs) {
        text-align: center !important;
        width: 100% !important;
        margin: 10px !important;
      }
    }

    .response {
      margin: 0;
      padding: 0;
      @include respond-to(xs) {
        width: 100% !important;
      }
    }

    .success-message {
      color: green;
      font-style: italic;
      margin-bottom: 1em;
    }

    .error-message {
      color: red;
      font-style: italic;
      margin-bottom: 1em;
    }

    .custom-form-box {
      position: relative;
      margin-bottom: 20px;

      label {
        position: absolute;
        top: -15px;
        background-color: white;
        left: 20px;
        font-weight: 600;
        font-family: $mont;
        color: $primary;
        padding: 0 4px;
      }

      input {
        padding: 10px 20px;
        height: unset;
        border: 2px solid #d8d7d2 !important;

        &:focus, &:active {
          box-shadow: none;
          border-color: $secondary !important;
        }
      }

      textarea {
        resize: none;
        height: 220px;
        border: 2px solid #d8d7d2;
        &:focus, &:active {
          box-shadow: none;
          border-color: $secondary;
        }
      }
    }

    .waiting {

      .loader,
      .loader:before,
      .loader:after {
        border-radius: 50%;
        width: 2.5em;
        height: 2.5em;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation: load7 1.8s infinite ease-in-out;
        animation: load7 1.8s infinite ease-in-out;
      }

      .loader {
        display: none;
        float: right;
        color: #aaa;
        font-size: 5px;
        margin: 0;
        position: relative;
        text-indent: -9999em;
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
      }

      .loader:before,
      .loader:after {
        content: '';
        position: absolute;
        top: 0;
      }

      .loader:before {
        left: -3.5em;
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
      }

      .loader:after {
        left: 3.5em;
      }

      @-webkit-keyframes load7 {
        0%,
        80%,
        100% {
          box-shadow: 0 2.5em 0 -1.3em;
        }
        40% {
          box-shadow: 0 2.5em 0 0;
        }
      }

      @keyframes load7 {
        0%,
        80%,
        100% {
          box-shadow: 0 2.5em 0 -1.3em;
        }
        40% {
          box-shadow: 0 2.5em 0 0;
        }
      }

    }

  }
}


#re-captcha {
  padding-left: 45px;
}