// #featured,
// #content {
//     float: left;
//     width: 100%;
// }

// #content {
//     width: 70%;
// }

// #featured > article,
// #content > .preview {
//     display: inline-block;
//     vertical-align: top;
//     width: 32%;
//     padding: 0;
//     margin: 0 0 30px 0;
// }

// #content > .preview {
//     width: 100%;
//     margin: 5px 0 30px 0;
// }

// #featured > .big {
//     width: 66%;
// }

// #featured > .space {
//     display: inline-block;
//     vertical-align: top;
//     width: 2%;
//     padding: 0;
//     margin: 0;
// }

// #featured > article > .bg,
// #content > .preview > .bg {
//     display: inline-block;
//     vertical-align: top;
//     width: 100%;
//     height: 200px;
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-position: center center;
//     border-radius: 5px 5px 0 0;
//     box-shadow: 1px 0 0 0 rgb(190, 190, 190) inset,
//                 -1px 1px 0 0 rgb(190, 190, 190) inset;
// }

// #featured > article > .bg.dark,
// #content > .preview > .bg.dark {
//     box-shadow: 1px 0 0 0 rgb(190, 190, 190) inset,
//                 -1px 1px 0 0 rgb(190, 190, 190) inset,
//                 0 -200px 0 0 rgba(0, 0, 0, 0.3) inset;
// }

// #featured > article > .bg > .category,
// #content > .preview > .bg > .category {
//     display: inline-block;
//     vertical-align: top;
//     margin: 5px 1%;
// }

// #featured > .small > .bg > .category {
//     margin: 5px 2%;
// }

// #featured > article > .bg > .category > a,
// #content > .preview > .bg > .category > a,
// #featured > article > .bg > .socialbar > li > span,
// #content > .preview > .bg > .socialbar > li > span,
// #featured > article > .bg > .socialbar > li > button,
// #content > .preview > .bg > .socialbar > li > button {
//     display: inline-block;
//     vertical-align: top;
//     font-size: 0.9em;
//     text-transform: uppercase;
//     height: 20px;
//     line-height: 20px;
//     padding: 3px 5px 7px 5px;
//     background-color: rgb(210, 210, 210);
//     color: rgb(90, 90, 90);
//     box-shadow: 0 -4px 0 rgba(255, 255, 255, 0.3) inset,
//                 0 -3px 0 rgba(0, 0, 0, 0.3) inset,
//                 -1px 0 0 rgba(0, 0, 0, 0.3) inset,
//                 1px 1px 0 rgba(0, 0, 0, 0.3) inset;
//     transition: background-color 0.2s ease-in;
// }

// #featured > article > .bg > .category > a,
// #content > .preview > .bg > .category > a {
//     border-radius: 5px;
// }

// #featured > article > .bg > .category > a:hover,
// #content > .preview > .bg > .category > a:hover {
//     background-color: rgb(255, 255, 255);
// }

// #featured > article > .bg > .category > a:active,
// #content > .preview > .bg > .category > a:active {
//     margin: 4px 0 0 0;
//     padding: 3px 5px;
//     background-color: rgb(255, 255, 255);
//     box-shadow: none;
// }

// #featured > article > .bg > .socialbar,
// #content > .preview > .bg > .socialbar {
//     display: inline-block;
//     vertical-align: top;
//     float: right;
//     margin: 5px 1%;
// }

// #featured > .small > .bg > .socialbar {
//     margin: 5px 2%;
// }

// #featured > article > .bg > .socialbar > li,
// #content > .preview > .bg > .socialbar > li {
//     float: left;
// }

// #featured > article > .bg > .socialbar > .reactions > span,
// #content > .preview > .bg > .socialbar > .reactions > span,
// #featured > article > .bg > .socialbar > .share > button,
// #content > .preview > .bg > .socialbar > .share > button {
//     padding: 3px 5px 7px 28px;
//     background-image: url('/assets/images/sprite.svg');
//     background-repeat: no-repeat;

// }

// #featured > article > .bg > .socialbar > .reactions > span,
// #content > .preview > .bg > .socialbar > .reactions > span {
//     background-position: 5px -75px;
//     border-radius: 5px 0 0 5px;
// }

// #featured > article > .bg > .socialbar > .share > button,
// #content > .preview > .bg > .socialbar > .share > button {
//     padding: 3px 5px 7px 25px;
//     background-position: 5px -100px;
//     border-radius: 0 5px 5px 0;
// }

// #featured > article > .bg > .socialbar > .share > button:hover,
// #content > .preview > .bg > .socialbar > .share > button:hover {
//     background-color: rgb(255, 255, 255);
// }

// #featured > article > .bg > .socialbar > .share > button:active,
// #content > .preview > .bg > .socialbar > .share > button:active {
//     margin: 4px 0 0 0;
//     padding: 3px 5px 3px 25px;
//     background-color: rgb(255, 255, 255);
//     box-shadow: none;
// }

// #featured > article > .bg > .socialpop,
// #content > .preview > .bg > .socialpop {
//     display: none;
//     vertical-align: top;
//     width: 30%;
//     height: 60px;
//     margin: 25px 30% 35px 30%;
//     padding: 20px 5%;
//     background-color: rgb(230, 230, 230);
//     border-radius: 5px;
//     box-shadow: 0 0 0 1px rgb(190, 190, 190) inset;
//     position: relative;
// }

// #featured > .small > .bg > .socialpop {
//     width: 60%;
//     margin: 25px 15% 35px 15%;
//     padding: 20px 5%;
// }

// #featured > article > .bg > .socialpop.show,
// #content > .preview > .bg > .socialpop.show {
//     display: inline-block;
// }

// #featured > article > .bg > .socialpop > li,
// #content > .preview > .bg > .socialpop > li {
//     float: left;
//     width: 31.333%;
//     margin: 0 1%;
// }

// #featured > article > .bg > .socialpop > li > a,
// #content > .preview > .bg > .socialpop > li > a {
//     display: inline-block;
//     vertical-align: top;
//     width: 100%;
//     text-align: center;
// }

// #featured > article > .bg > .socialpop > li > a > .sprite,
// #content > .preview > .bg > .socialpop > li > a > .sprite {
//     display: inline-block;
//     vertical-align: top;
//     width: 60px;
//     height: 60px;
//     background-image: url('/assets/images/sprite.svg');
//     background-repeat: no-repeat;
// }

// #featured > article > .bg > .socialpop > .twitter > a > .sprite,
// #content > .preview > .bg > .socialpop > .twitter > a > .sprite {
//     background-position: -300px -90px;
// }

// #featured > article > .bg > .socialpop > .facebook > a > .sprite,
// #content > .preview > .bg > .socialpop > .facebook > a > .sprite {
//     background-position: -360px -90px;
// }

// #featured > article > .bg > .socialpop > .googleplus > a > .sprite,
// #content > .preview > .bg > .socialpop > .googleplus > a > .sprite {
//     background-position: -420px -90px;
// }

// #featured > article > .bg > .socialpop > .twitter > a:hover > .sprite,
// #content > .preview > .bg > .socialpop > .twitter > a:hover > .sprite {
//     background-position: -300px -30px;
// }

// #featured > article > .bg > .socialpop > .facebook > a:hover > .sprite,
// #content > .preview > .bg > .socialpop > .facebook > a:hover > .sprite {
//     background-position: -360px -30px;
// }

// #featured > article > .bg > .socialpop > .googleplus > a:hover > .sprite,
// #content > .preview > .bg > .socialpop > .googleplus > a:hover > .sprite {
//     background-position: -420px -30px;
// }

// #featured > article > .bg > .socialpop > li > a > .hide,
// #content > .preview > .bg > .socialpop > li > a > .hide {
//     display: none;
// }

// #featured > article > .data,
// #content > .preview > .data {
//     display: inline-block;
//     vertical-align: top;
//     width: 100%;
// }

// #featured > article > .data > a,
// #content > .preview > .data > a {
//     display: inline-block;
//     vertical-align: top;
//     width: 98%;
//     height: 115px;
//     padding: 15px 1% 0 1%;
//     color: rgb(90, 90, 90);
//     background-color: rgb(240, 240, 240);
//     border-radius: 0 0 5px 5px;
//     box-shadow: 0 6px 0 0 rgba(0, 177, 106, 0.3) inset,
//                 0 2px 0 0 rgb(0, 177, 106) inset,
//                 1px 0 0 0 rgb(190, 190, 190) inset,
//                 -1px -1px 0 0 rgb(190, 190, 190) inset;
//     transition: color 0.2s ease-in;
// }

// #featured > article > .data > a:hover,
// #content > .preview > .data > a:hover {
//     color: rgb(0, 0, 0);
// }

// #featured > .small > .data > a {
//     width: 96%;
//     padding: 15px 2% 0 2%;
// }

// #featured > article > .data > a > .header,
// #content > .preview > .data > a > .header {
//     display: inline-block;
//     vertical-align: top;
//     text-align: left;
//     font-size: 2.2em;
//     font-weight: 400;
// }

// #featured > .small > .data > a > .header {
//     font-size: 1.5em;
// }

// #featured > article > .data > a > .description,
// #content > .preview > .data > a > .description {
//     display: inline-block;
//     vertical-align: top;
//     width: 100%;
//     font-size: 0.9em;
// }