body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

#container {
    margin: 0;
    width: 100%;
}

#navbar {
  background-color: #fff;
  transition: background-color 0.4s ease-out;
}

#navbar.scrolled {
  background-color: rgba(255, 255, 255, 1);
}

.logo {
  height: 50px;
  width: 105px;
}