.highlight {
    display: inline-block;
    vertical-align: top;
    width: 100%;
}

pre {
    display: inline-block;
    vertical-align: top;
    width: 98%;
    margin: 0 0 30px 0;
    padding: 0 1%;
    border-radius: 5px;
    background-color: rgb(230, 230, 211);
    overflow: auto;
}

code {
    display: inline-block;
    vertical-align: baseline;
    font-family: monospace;
    font-size: 1em;
    line-height: 1.2em;
    padding: 2px 5px;
    margin: 5px;
    border-radius: 5px;
    background-color: rgb(238, 238, 238);
}

pre > code {
    padding: 0;
    margin: 5px 0;
    text-shadow: 0 1px 0 rgb(255, 255, 255);
    background-color: transparent;
    border-radius: 0;
}

/* Comment */
pre > code > .c {
    color: rgb(153, 153, 136);
    font-style: italic;
}

/* Error */
pre > code > .err {
    color: rgb(166, 23, 23);
    background-color: rgb(227, 210, 210);
}

/* Keyword */
pre > code > .k {
    font-weight: 400;
}

/* Operator */
pre > code > .o {
    font-weight: 400;
}

/* Comment.Multiline */
pre > code > .cm {
    color: rgb(153, 153, 136);
    font-style: italic;
}

/* Comment.Preproc */
pre > code > .cp {
    color: rgb(153, 153, 153);
    font-weight: 400;
}

/* Comment.Single */
pre > code > .c1 {
    color: rgb(153, 153, 136);
    font-style: italic;
}

/* Comment.Special */
pre > code > .cs {
    color: rgb(153, 153, 153);
    font-weight: 400;
    font-style: italic;
}

/* Generic.Deleted */
pre > code > .gd {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 221, 221);
}

/* Generic.Deleted.Specific */
pre > code > .gd .x {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 170, 170);
}

/* Generic.Emph */
pre > code > .ge {
    font-style: italic;
}

/* Generic.Error */
pre > code > .gr {
    color: rgb(170, 0, 0);
}

/* Generic.Heading */
pre > code > .gh {
    color: rgb(153, 153, 153);
}

/* Generic.Inserted */
pre > code > .gi {
    color: rgb(0, 0, 0);
    background-color: rgb(221, 255, 221);
}

/* Generic.Inserted.Specific */
pre > code > .gi .x {
    color: rgb(0, 0, 0);
    background-color: rgb(170, 255, 170);
}

/* Generic.Output */
pre > code > .go {
    color: rgb(136, 136, 136);
}

/* Generic.Prompt */
pre > code > .gp {
    color: rgb(85, 85, 85);
}

/* Generic.Strong */
pre > code > .gs {
    font-weight: 400;
}

/* Generic.Subheading */
pre > code > .gu {
    color: rgb(170, 170, 170);
}

/* Generic.Traceback */
pre > code > .gt {
    color: rgb(170, 0, 0);
}

/* Keyword.Constant */
pre > code > .kc {
    font-weight: 400;
}

/* Keyword.Declaration */
pre > code > .kd {
    font-weight: 400;
}

/* Keyword.Pseudo */
pre > code > .kp {
    font-weight: 400;
}

/* Keyword.Reserved */
pre > code > .kr {
    font-weight: 400;
}

/* Keyword.Type */
pre > code > .kt {
    color: rgb(68, 85, 136);
    font-weight: 400;
}

/* Literal.Number */
pre > code > .m {
    color: rgb(0, 153, 153);
}

/* Literal.String */
pre > code > .s {
    color: rgb(221, 17, 68);
}

/* Name.Attribute */
pre > code > .na {
    color: rgb(0, 128, 128);
}

/* Name.Builtin */
pre > code > .nb {
    color: rgb(0, 134, 179);
}

/* Name.Class */
pre > code > .nc {
    color: rgb(68, 85, 136);
    font-weight: 400;
}

/* Name.Constant */
pre > code > .no {
    color: rgb(0, 128, 128);
}

/* Name.Entity */
pre > code > .ni {
    color: rgb(128, 0, 128);
}

/* Name.Exception */
pre > code > .ne {
    color: rgb(153, 0, 0);
    font-weight: 400;
}

/* Name.Function */
pre > code > .nf {
    color: rgb(153, 0, 0);
    font-weight: 400;
}

/* Name.Namespace */
pre > code > .nn {
    color: rgb(85, 85, 85);
}

/* Name.Tag */
pre > code > .nt {
    color: rgb(0, 0, 128);
}

/* Name.Variable */
pre > code > .nv {
    color: rgb(0, 128, 128);
}

/* Operator.Word */
pre > code > .ow {
    font-weight: 400;
}

/* Text.Whitespace */
pre > code > .w {
    color: rgb(187, 187, 187);
}

/* Literal.Number.Float */
pre > code > .mf {
    color: rgb(0, 153, 153);
}

/* Literal.Number.Hex */
pre > code > .mh {
    color: rgb(0, 153, 153);
}

/* Literal.Number.Integer */
pre > code > .mi {
    color: rgb(0, 153, 153);
}

/* Literal.Number.Oct */
pre > code > .mo {
    color: rgb(0, 153, 153);
}

/* Literal.String.Backtick */
pre > code > .sb {
    color: rgb(221, 17, 68);
}

/* Literal.String.Char */
pre > code > .sc {
    color: rgb(221, 17, 68);
}

/* Literal.String.Doc */
pre > code > .sd {
    color: rgb(221, 17, 68);
}

/* Literal.String.Double */
pre > code > .s2 {
    color: rgb(221, 17, 68);
}

/* Literal.String.Escape */
pre > code > .se {
    color: rgb(221, 17, 68);
}

/* Literal.String.Heredoc */
pre > code > .sh {
    color: rgb(221, 17, 68);
}

/* Literal.String.Interpol */
pre > code > .si {
    color: rgb(221, 17, 68);
}

/* Literal.String.Other */
pre > code > .sx {
    color: rgb(221, 17, 68);
}

/* Literal.String.Regex */
pre > code > .sr {
    color: rgb(0, 153, 38);
}

/* Literal.String.Single */
pre > code > .s1 {
    color: rgb(221, 17, 68);
}

/* Literal.String.Symbol */
pre > code > .ss {
    color: rgb(153, 0, 115);
}

/* Name.Builtin.Pseudo */
pre > code > .bp {
    color: rgb(153, 153, 153);
}

/* Name.Variable.Class */
pre > code > .vc {
    color: rgb(0, 128, 128);
}

/* Name.Variable.Global */
pre > code > .vg {
    color: rgb(0, 128, 128);
}

/* Name.Variable.Instance */
pre > code > .vi {
    color: rgb(0, 128, 128);
}

/* Literal.Number.Integer.Long */
pre > code > .il {
    color: rgb(0, 153, 153);
}
