// #login_dialog {
//     display: none;
//     vertical-align: top;
//     position: absolute;
//     width: 20%;
//     left: 75%;
//     top: 70px;
//     background-color: rgb(230, 230, 230);
//     border-radius: 5px;
//     box-shadow: 0 0 0 1px rgb(190, 190, 190) inset;
// }

// #login_dialog > .tip1,
// #login_dialog > .tip2 {
//     width: 0;
//     height: 0;
//     border-style: solid;
//     border-width: 0 15px 15px 15px;
//     border-color: transparent transparent rgb(190, 190, 190) transparent;
//     position: absolute;
//     top: -15px;
//     right: 5%;
// }

// #login_dialog > .tip2 {
//     border-color: transparent transparent rgb(230, 230, 230) transparent;
//     top: -14px;
// }

// #login_dialog.show {
//     display: inline-block;
// }

// #login_dialog > h3 {
//     display: inline-block;
//     vertical-align: top;
//     width: 96%;
//     padding: 0;
//     margin: 10px 2% 0 2%;
//     text-transform: uppercase;
//     font-size: 1.2em;
//     letter-spacing: -1px;

// }

// #login_dialog > h3.info {
//     height: 20px;
//     margin: 10px 2%;
// }