#sidebar {
    float: left;
    width: 30%;
    font-size: 1em;
    line-height: 1em;
}

#sidebar > .hide {
    display: none;
}

#sidebar > ul > li {
    display: inline-block;
    vertical-align: top;
    width: 78%;
    margin: 10px 0 10px 20%;
    padding: 10px 1%;
    border-radius: 5px;
}

#sidebar > ul > .simple {
    background-color: rgb(239, 235, 224);
}

#sidebar > ul > .simple > form > span {
    display: inline-block;
    vertical-align: top;
    text-align: justify;
    width: 96%;
    margin: 5px 2%;
    color: rgb(85, 85, 85);
    font-size: 0.9em;
}

#sidebar > ul > .simple > form > label {
    display: none;
}

#sidebar > ul > .simple > form > #feedburner_mail {
    display: inline-block;
    vertical-align: top;
    width: 92%;
    padding: 5px 2%;
    margin: 5px 2% 0 2%;
    color: rgb(153, 153, 153);
    border-radius: 5px 5px 0 0;
    background-color: rgb(255, 255, 255);
    font-size: 2em;
}

#sidebar > ul > .simple > form > #feedburner_button {
    display: inline-block;
    vertical-align: top;
    width: 96%;
    padding: 5px 0 10px 0;
    margin: 0 2% 5px 2%;
    cursor: pointer;
    font-size: 2em;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    box-shadow: 0 -6px 0 rgba(255, 255, 255, 0.2) inset,
                0 -5px 0 rgba(0, 0, 0, 0.1) inset,
                -1px 0 0 rgba(0, 0, 0, 0.06) inset,
                1px 1px 0 rgba(0, 0, 0, 0.06) inset;
    color: rgb(255, 255, 255);
    border-radius: 0 0 5px 5px;
    background-color: rgb(193, 190, 182);
    background-image: radial-gradient(ellipse closest-side at 50% 50%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.0) 100%);
    transition: background-color 0.4s linear;
}

#sidebar > ul > .simple > form > #feedburner_button:hover {
    background-color: rgb(26, 188, 156);
}

#sidebar > ul > .simple > form > #feedburner_button:active {
    box-shadow: 0 -70px 0 rgba(0, 0, 0, 0.06) inset;
}

#sidebar > ul > .coffee {
    background-image: url('/assets/images/sprite.svg');
    background-repeat: no-repeat;
    background-position: -70px -100px;
}

#sidebar > ul > .coffee > a {
    display: inline-block;
    vertical-align: top;
    width: 65%;
    margin: 0 0 0 35%;
    padding: 0;
    font-size: 2em;
    cursor: pointer;
    line-height: 1em;
    word-wrap: break-word;
}

#sidebar > ul > .list {
    width: 78%;
    padding: 90px 1% 0 1%;
    background-image: url('/assets/images/sprite.svg');
    background-repeat: no-repeat;
    background-position: 0px -330px;
    background-color: rgb(239, 235, 224);
}

#sidebar > ul > .list > ul {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    padding: 5px 0;
    margin: 0;
}

#sidebar > ul > .list > ul > li {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    padding: 0;
    margin: 1px 0;
    list-style: none;
    color: rgb(51, 51, 51);
    text-align: left;
    border-radius: 5px;
}

#sidebar > ul > .list > ul > li > a {
    display: inline-block;
    vertical-align: bottom;
    width: 98%;
    padding: 3px 1%;
    font-size: 1.2em;
    line-height: 1;
    color: rgb(77, 77, 70);
}

#sidebar > ul > .list > ul > li > a > strong {
    font-weight: 400;
}

#sidebar > ul > .list > ul > li > a:hover {
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 5px;
    background-color: rgb(223, 219, 207);
}

#sidebar > ul > .list > ul > li > small {
    font-size: 0.8em
}