// Medias querys
$breakpoints: (
  'xs': "(min-width: 0px) and (max-width: 575px)",
  'sm': "(min-width: 576px) and (max-width: 767px)",
  'md': "(min-width: 768px) and (max-width: 991px)",
  'lg': "(min-width: 992px) and (max-width: 1199px)",
  'xl': "(min-width: 1200px)",
) !default;

$primary: #405761;
$secondary: #e5616b;
$primary-dark: #505859;
$white: #fff;

$mont: 'Montserrat', sans-serif;

$banner-primary-color: #ccc;
$banner-secondary-color: #ffffff;

$banner-h1-font: 'The Heart Chakra', Georgia, 'Times New Roman', Times, serif;
$banner-h1-weight: 400;

$banner-h2-font: 'Adobe Garamond Pro', Georgia, 'Times New Roman', Times, serif;
$banner-h2-weight: 900;

$banner-h5-font: 'Sofia Pro', Arial, Helvetica, sans-serif;
$banner-h5-weight: 900;

// $banner-p-font: 'Adobe Garamond Pro', Arial, Helvetica, sans-serif;
// $banner-p-weight: 300;

$banner-p-font: 'Sofia Pro', Arial, Helvetica, sans-serif;
$banner-p-weight: 400;
