---
layout: default
---

  {% include header.html %}
  {% include services.html %}
  {% include open-source.html %}
  {% include blog-posts.html %}
  {% include contact.html %}
  {% include footer.html %}
  <!-- <section class="d-flex flex-xl-row justify-content-center mb-5 pb-5">
    <div id="chart" class="col col-xl-4"></div>
    <div class="col col-xl-4">
      <h2 class="display-5">
        Donec id lacus dapibus leo luctus posuere. Donec a ligula ac ex semper ultrices.
      </h2>
      <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nisi tellus, tristique congue sem nec, sodales eleifend diam. Nunc scelerisque tincidunt lorem. Nulla ac enim pulvinar leo varius vulputate quis id magna. Morbi eget nisl ac velit porttitor tempus. Nam at neque mi. Maecenas et urna at ante imperdiet venenatis sed id ante. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
      </div>
    </div>
  </section> -->