---
layout: default
---

  <header class="frontpage">
    <nav id="navbar" role="navigation" class="navbar navbar-light navbar-expand-xl sticky-top d-flex flex-row px-5">
      <div class="d-flex flex-column flex-xl-row w-100">
        <div class="d-flex flex-row col col-xl-1 p-0">
          <a class="navbar-brand"  href="{{ site.url }}">
            <svg class="logo"><use xlink:href="#brand"></use></svg>
          </a>
          <button class="navbar-toggler my-auto" type="button"
                  data-toggle="collapse" data-target="#topicsbar"
                  aria-controls="topicsbar" aria-expanded="false"
                  aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div id="topicsbar" class="navbar-collapse collapse d-flex justify-content-end col col-xl-8 ml-auto">
          <ul role="menubar" class="list-unstyled d-flex flex-xl-row m-0">
            <li role="menuitem" class="topic">
              <a href="#services" title='Services'>
                <span class="text">Services</span>
              </a>
            </li>
            <li role="menuitem" class="topic">
              <a href="/blog/" title='Blog'>
                <span class="text">Blog</span>
              </a>
            </li>
            <li role="menuitem" class="topic">
              <a href="#open-source" title='Open Source'>
                <span class="text">Open Source</span>
              </a>
            </li>
            <li role="menuitem" class="topic">
              <a href="#contact" title='Contact'>
                <span class="text">Contact</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="d-flex flex-xl-row justify-content-end">
      <div class="col col-xl-5 mt-100px pt-100px mb-50px pb-50px px-5">
        <h1 class="text-outer-space pb-3">
          <strong class="font-weight-600">We are prepared</strong> to take your project to the <strong class="font-weight-600">next level</strong>
        </h1>
        <div class="font-size-1-25em text-outer-space">
          Allow us to mix our skills on 
          <span class="badge badge-light-yellow">IT</span>, 
          <span class="badge badge-light-yellow">Web</span>, 
          <span class="badge badge-light-yellow">Android</span> and 
          <span class="badge badge-light-yellow">ERP</span> 
          with your ideas. Let's build the future together.
        </div>
        <div class="h-170px py-50px">
          <a class="btn btn-lg btn-3d" href="#contact">Learn more</a>
        </div>
      </div>
    </div>
  </header>

  <section class="d-flex flex-xl-row justify-content-center mb-5 pb-5">
    <div id="chart" class="col col-xl-4"></div>
    <div class="col col-xl-4">
      <h2 class="display-5">
        Donec id lacus dapibus leo luctus posuere. Donec a ligula ac ex semper ultrices.
      </h2>
      <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nisi tellus, tristique congue sem nec, sodales eleifend diam. Nunc scelerisque tincidunt lorem. Nulla ac enim pulvinar leo varius vulputate quis id magna. Morbi eget nisl ac velit porttitor tempus. Nam at neque mi. Maecenas et urna at ante imperdiet venenatis sed id ante. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
      </div>
    </div>
  </section>