{% include header.html %}
{% include sidebar.html %}
                <main id="content" role="main" itemprop="mainContentOfPage">
                    <article class="post">
                        <header class="header">
                            <h2><a href="{{ site.url }}{{ page.url }}" rel="bookmark" title='{{ page.title }}'>{{ page.title }}</a></h2>
                        </header>
                        <div class="text">
                            <ul>
                                {% for post in site.posts %}
                                {% for post_tag in post.tags %}
                                {% capture tag_slug %}{{ post_tag | downcase | replace: 'ñ', 'n' | replace: 'á', 'a' | replace: 'é', 'e' | replace: 'í', 'i' | replace: 'ó', 'o' | replace: 'ú', 'u' | replace: ' ', '-' | replace: '.', '' | uri_escape }}{% endcapture %}
                                {% if tag_slug == page.slug %}
                                <li>{{ post.date | date: '%b %Y' }} &dash; <a href="{{ site.url }}{{ post.url }}" id="post-{{ post.article_id }}">{{ post.title }}</a></li>
                                {% endif %}
                                {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                    </article>
                </main>
{% include footer.html %}
